.defaultwrapper {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 2fr 6fr 2fr;
  height: 100vh;
}

.defaultheader {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: gold;
}

.defaultcontent {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  background-color: black;
}

.defaultfooter {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  background-color: gold;
}
