.defaultwrapper {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 2fr 12fr 2fr;
  height: 100vh;
}

.defaultheader {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: #DEB069;
}

.defaultcontent {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  background-color: black;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  background-image: url("https://lh3.googleusercontent.com/bfHXzKOI6HiglCvVxcKBMjxLJbMdC24KSO5E7-22J-TzDSzlVUNLYbBvDwWDIlaAoLkL4mUjslohLO1XJbrKjQbkBf16ZwZBXgjcW3hWgTYLdAeNyNZ59DCCjlzXhOdUV6QBNc53DT1AkO3lL897HQ6qHZXFFcpCBH6JDHtB7JDP2suRmbopAC1oBxjwU1RLsZBD3U7y_kFngdWKq7ZyRIzZkgMAog_BY7-BTV_TJUfOG9OapUZ9telFHs-FoNbNB-BJ4So5drgyc-QF3E_Z8_xLPgHoTJW_4xodygTrWysqASUyljWj6zXb9febW2fkM_Y-xGBG7JUvojYJruR6_JVpbuGI4j_drZQF-e8m48PrqAF8gKGf3Ycqkw9DerZG0iDfKySZEHwly0_8BREyBn9XOGbUSSIcgncYfFw6WDBgXw4DMWUFLZewl_jtRgurYebNAfHPP-_cSVhHDSvckXGANGszDCFdMxqzkbbX9j6Es57iJp3lRcxYR97vUVKns1tR64eCADamaGeXW3BUpuRnZ6L2R20u2AcI9l5z-014CfqgXJeqntRHK7ejGy7QO5jX7I9BqZjsXcQxjEYxB2_I5LaYsUhJmbmrE8BedEbarkIpW04el_XuVPLUJV4=w641-h894-no");
}

.contentsection {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 4fr 4fr 4fr;
  grid-template-columns: 4fr 4fr 4fr;
}

.title {
  font-size: 30px;
  color: white;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: center;
}

.heart {
  font-size: 28px;
  color: white;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.head {
  font-size: 28px;
  color: white;
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hearttext {
  font-size: 18px;
  color: white;
  text-align: left;
}

/*.defaultfooter {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  background-color: gold;
}*/
