<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="defaultwrapper">
      <div class="defaultheader"></div>
      <div class="defaultcontent">
        <div class="contentsection">
          <div class="title">{{ page.title }}</div>
          <div class="heart">
            <span class="heartitle">Heart Test</span>
            <span class="hearttext">{{ site.description }}</span>
          </div>
          <div class="head">
            <span class="headtitle">Head</span>
            <span class="headtext">Check here soon for shows!</span>
          </div>
        </div>
      </div>
      <!--<div class="defaultfooter"></div>-->
    </div>

  </body>
</html>
