<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="defaultwrapper">
      <div class="defaultheader"></div>
      <div class="defaultcontent">
        <div class="contentsection">
          <div class="title">{{ page.title }}</div>
          <div class="heart">
            <span class="heartitle">Heart - Who we are</span>
            <span class="hearttext">{{ site.description }}</span>
          </div>
          <div class="head">
            <span class="headtitle">Head - Shows // Noise</span>
            <span class="headtext">
              <ul class="showlist">
                <li class="showitem"><a href="https://www.facebook.com/events/188597261939368/"> There's No Autumn Here // אין פה סתיו</a></li>
                <li class="showitem"><a href="https://www.facebook.com/RoshPatuach/"> TBA - Stay Tuned</a></li>
                <li class="showitem"><a href="https://www.facebook.com/RoshPatuach/"> TBA - Stay Tuned</a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="guts">
          <span class="gutstitle">Guts - Stuff we like</span>
          <ul class="gutslist">
            <li class="gutsitem"><a href="https://thedriers.bandcamp.com/album/sad-party">The Driers - Sad Party</a></li>
            <li class="gutsitem"><a href="https://bonjourmachines.bandcamp.com/album/-">Bonjour Machines - לבד ביחד לנצח</a></li>
            <li class="gutsitem"><a href="https://diekvar.bandcamp.com/album/ep">DIEKVAR - EP</a></li>
        </div>
      </div>
      <!--<div class="defaultfooter"></div>-->
    </div>

  </body>
</html>
